<?php
/**
 * SysConfig Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
return array(
    'shopsys' => array(

        /**
         * SysConfig Hosts
         */
        'shop_details' => array(
            'default' => array(
                'url' => 'shopadmin.dev',
                'name' => 'Shopsys',
                'language' => 'nb_no',
                'settings' => array(
                    'debug' => true,
                    'time_limit_actions' => 3600,
                    'time_limit_default' => 360,
                    'use_ssl' => false,
                    'use_cookies' => true,
                    'use_autologin' => true,
                    'autologin_lifetime_ms' => 31536000,
                    )
            ),
        ),


    ),
    /**
     * End of SysConfig configuration
     */
);
