<?php
/**
 * SysConfig Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * copy this file, rename it to sysconfig.global.php in it and change the values as you wish.
 * You can keep a private file that you can exclude from VCS by renaming it to sysconfig.local.php
 *
 * Recaptcha keys: http://www.google.com/recaptcha
 *
 */
return array(
    'shopsys' => array(

        /**
         * SysConfig Hosts
         */
        'shop_details' => array(
            'default' => array(
                'shop_details' => array (
                    'url' => 'shopadmin.dev',
                    'name' => 'Shopsys',
                    'street1' => 'street1',
                    'street2' => 'street2',
                    'city' => 'city',
                    'country' => 'country',
                    'phone' => 'phone',
                    'cellphone' => 'cellphone',
                    'bankaccount' => 'bankaccount',
                    'organization_number' => 'organization_number',
                ),

                'meta' => array(
                    'title' => 'title',
                    'description' => 'description',
                    'keywords' => 'keywords',
                    'slogan' => 'slogan',
                ),
                'settings' => array(
                    'debug' => true,
                    'time_limit_actions' => 3600,
                    'time_limit_default' => 360,
                    'use_cookies' => true,
                    'use_autologin' => true,
                    'use_ssl' => false,
                    'autologin_lifetime_seconds' => 31536000,
                    ),
                'email' => array(
                    'no_reply' => 'no-reply@shopadmin.dev',
                    'general' => 'general@shopadmin.dev',
                    'bulk' => 'bulk-mail@shopadmin.dev'
                ),
                'password' => array(
                    'min_password_length' => 7,
                    'require_number' => true,
                    'require_special_char' => true,
                    'allow_username_in_password' => false,
                ),
                'shop_front' => array(
                    'new_accounts_requires_admin_approval' => false,
                    'new_accounts_requires_email_verification' => false,
                    'max_login_attempts' => 5,
                    'lockout_duration_in_minutes' => 5,
                    'auto_login_duration_in_seconds' => 1728000,
                    'language' => 'nb_no',
                ),
                'recaptcha' => array(
                    'use_recaptcha_on_login' => true,
                    'use_recaptcha_when_registering_new_account' => true,
                    'use_recaptcha_on_x_amount_of_failures' => 3,
                    'public_key' => '6LczLvYSAAAAAOY7bciYh8RUB1AKn91S23sSskal',
                    'private_key' => '6LczLvYSAAAAAGpJsK9mvEYj_JFdT70eAJLMcVmE'
                ),
                'social_media' => array(
                    'facebook' => array(
                        'appid' => '',
                        'admins' => '',
                    ),
                ),
            ),
        ),


    ),
    /**
     * End of SysConfig configuration
     */
);
